.page-layout-index {
  width: 100%;
  height: 100%;
  padding: 12px;
  box-sizing: border-box;
  &-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    row-gap: 12px;
    &-tabs {
      height: 48px;
      padding: 0 32px;
      // margin-bottom: 12px;
      background-color: #fff;
      :deep(.ant-tabs) {
        width: 100%;
        height: 100%;
        .ant-tabs-nav {
          width: 100%;
          height: 100%;
          margin-bottom: 0px;
          .ant-tabs-tab {
            display: flex;
            justify-content: center;
          }
        }
      }
    }
    &-content {
      flex: 1;
      overflow: auto;
      &-tree {
        // width: 400px;
        width: 100%;
        height: 100%;
        padding: 24px;
        // margin-right: 12px;
        background-color: #fff;
      }

      &-detail {
        width: 100%;
        height: 100%;
      }

      :deep(.default-theme) {
        .splitpanes__splitter {
          // background-color: #f0f2f5;
          background-color: unset;
        }
        .splitpanes__splitter::before {
          background-color: #2a7dc9;
        }
        .splitpanes__splitter::after {
          background-color: #2a7dc9;
        }
      }
      :deep(.hiddenSplitter) {
        .splitpanes__splitter {
          display: none;
        }
      }
    }
  }
}
