@header-trigger-prefix-cls: ~"@{namespace}-layout-header-trigger";
@header-prefix-cls: ~"@{namespace}-layout-header";
@breadcrumb-prefix-cls: ~"@{namespace}-layout-breadcrumb";
@logo-prefix-cls: ~"@{namespace}-app-logo";
// 顶部菜单栏样式
.top_cix {
  flex: 1;
  margin-left: 10px;
  height: 100%;
  overflow: auto;

  .ant-tabs {
    height: 100%;
    color: #fff;

    .ant-tabs-nav {
      height: 100%;
      margin-bottom: 0;

      .ant-tabs-nav-wrap {
        .ant-tabs-nav-list {
          display: flex;
          align-items: center;
          // column-gap: 32px;

          .ant-tabs-tab {
            width: 100px;
            height: 100%;
            font-size: 15px;
            // margin-right: 40px;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;

            .ant-tabs-tab-btn {
              color: #fff;
              font-weight: lighter !important;
            }
          }

          .ant-tabs-tab:nth-child(1) {
            // margin-left: 12px;
          }

          .ant-tabs-tab:not(:nth-child(1)) {
            // margin-left: 0;
          }

          .ant-tabs-tab-active {
            position: relative;

            .ant-tabs-tab-btn {
              color: #fff;
              font-size: 16px !important;
              font-weight: bold !important;
            }
          }

          .ant-tabs-tab-active::after {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            width: 100%;
            height: 5px;
            background-color: #fff;
            z-index: 1;
          }

          .ant-tabs-tab:hover {
            background-color: rgba(#fff, 0.2);
          }
        }
      }
    }

    .ant-tabs-nav::before {
      border-bottom-color: transparent;
    }
  }
}

// 顶部菜单栏样式
.@{header-prefix-cls} {
  display: flex;
  height: @header-height;
  padding: 0;
  // margin-left: -1px;
  line-height: @header-height;
  color: @white;
  background-color: @white;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  box-sizing: border-box;

  &--mobile {
    .@{breadcrumb-prefix-cls},
    .error-action,
    .notify-item,
    .fullscreen-item {
      display: none;
    }

    .@{logo-prefix-cls} {
      min-width: unset;
      padding-right: 0;

      &__title {
        display: none;
      }
    }
    .@{header-trigger-prefix-cls} {
      padding: 0 4px 0 8px !important;
    }
    .@{header-prefix-cls}-action {
      padding-right: 4px;
    }
  }

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: @layout-header-fixed-z-index;
    width: 100%;
  }

  &-logo {
    height: @header-height;
    min-width: 192px;
    padding: 0 10px;
    font-size: 14px;

    img {
      width: @logo-width;
      height: @logo-width;
      margin-right: 2px;
    }
  }

  &-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &-left {
    flex: 1;
    display: flex;
    height: 100%;
    align-items: center;
    overflow: auto;

    .@{header-trigger-prefix-cls} {
      display: flex;
      width: 100%;
      height: 100%;
      // padding: 0px 10px 0;
      // padding-left: 12px;
      cursor: pointer;
      align-items: center;

      .anticon {
        font-size: 16px;
      }

      &.light {
        padding-left: 12px;

        &:hover {
          background-color: @header-light-bg-hover-color;
        }

        svg {
          fill: #000;
        }
      }

      &.dark {
        padding-left: 12px;

        &:hover {
          background-color: @header-dark-bg-hover-color;
        }
      }
    }
    .@{header-trigger-prefix-cls}:hover {
      background-color: rgba(#fff, 0.2);
    }
  }

  &-menu {
    height: 100%;
    min-width: 0;
    flex: 1;
    align-items: center;
  }

  &-action {
    flex-shrink: 0;
    display: flex;
    min-width: 90px;
    // padding-right: 12px;
    align-items: center;

    &__item {
      display: flex !important;
      height: @header-height;
      width: 35px;
      padding: 0;
      font-size: 1.2em;
      cursor: pointer;
      align-items: center;

      .ant-badge {
        height: @header-height;
        line-height: @header-height;
      }

      .ant-badge-dot {
        top: 10px;
        right: 2px;
      }
    }

    span[role="img"] {
      padding: 0 8px;
    }
  }

  &--light {
    background-color: @white !important;
    border-bottom: 1px solid @header-light-bottom-border-color;
    border-left: 1px solid @header-light-bottom-border-color;

    .@{header-prefix-cls}-logo {
      color: @text-color-base;
      height: 100%;

      &:hover {
        background-color: @header-light-bg-hover-color;
      }
    }

    .@{header-prefix-cls}-action {
      &__item {
        color: @text-color-base;

        .app-iconify {
          padding: 0 10px;
          font-size: 16px !important;
        }

        &:hover {
          // background-color: @header-light-bg-hover-color;
          background-color: rgba(#fff, 0.2);
        }
      }

      &-icon,
      span[role="img"] {
        // color: @text-color-base;
        color: #fff;
      }
    }
  }

  &--dark {
    background-color: @header-dark-bg-color !important;
    // border-bottom: 1px solid @border-color-base;
    border-left: 1px solid @border-color-base;
    .@{header-prefix-cls}-logo {
      &:hover {
        background-color: @header-dark-bg-hover-color;
      }
    }

    .@{header-prefix-cls}-action {
      &__item {
        .app-iconify {
          padding: 0 10px;
          font-size: 16px !important;
        }

        .ant-badge {
          span {
            color: @white;
          }
        }

        &:hover {
          // background-color: @header-light-bg-hover-color;
          background-color: rgba(#fff, 0.2);
        }
      }
    }
  }
}

.header-class {
  background: url("assets/images/header/bk.png") no-repeat center center;
  background-size: 100% 100% !important;
  width: 100%;
  box-sizing: border-box;
  border: 0 none;
}
